/* src/components/GameSelection.css */
.game-container {
    display: flex;
    flex-direction: column; /* Set the flex direction to column */
    align-items: center; /* Center the items horizontally */
  }
  
  .game-logo {
    width: 200px;
    max-height: 200px;
    cursor: pointer;
    margin-bottom: 10px; /* Add spacing between logos if needed */
  }
  
  .game-logo:hover {
    width: 220px;
    max-height: 250px;
  }
  